.our-features{
    padding: 60px 0;
}

.feature-icons{
    max-width: 450px;
    height: 120px;
    padding: 25px 100px;
    background-color: var(--white-gray);
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.feature-icons__icon{
    width: 70px;
    height: 70px;
}


.feature-items__label{ 
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.features-items__text{
    color: var(--gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

@media screen and(min-width:768px) {
    .feature-icons{
        max-width: 354px;
    }
    .feature-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .feature-items__label{
        text-align: left;
    }
    .feature-text{
        max-width: 354px;
    }
}

@media screen and(min-width:1200px) {
    .our-features{
        padding: 94px 0;
        height: 439px;
    }
    .feature-items{
        display: flex;
        justify-content: space-between;
    }
    .feature-items__item{
        width: 270px;
        height: 101px; 
    }
    .feature-text{
        width: 270px;
    }    
}
