:root {
    --background:#E5E5E5;
    --background-img-overlay: rgba(47, 48, 58, 0.4);
    --white:#FFFFFF;
    --gray:#757575;
    --bluegray:#2F303A;
    --white-gray:#F5F4FA;
    --blue:#2196F3;
    --black:#212121;
    --icons: #AFB1B8;
    --main-font:'Roboto', sans-serif;
    --logo-font:'Raleway', sans-serif;
}